################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
**/.vs
*.user
*.suo
**/bin/*/
**/obj/*/
/CameraApp/bin/*
/CameraApp/obj/*
/CameraApp.Test/bin/*
/CameraApp.Test/obj/*
CameraApp.Test/bin/Debug/net9.0/*/	
CameraApp.Test/bin/Debug/net9.0/CameraApp.dll
