################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
TestResults/*
CameraApp/bin/*
CameraApp/obj/*
CameraApp.Test/bin/*
CameraApp.Test/obj/*
**/.vs
*.user
*.suo
