################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
**/.vs
*.user
*.suo
**/bin/*/
**/obj/*/
/CameraApp/bin/*
/CameraApp/obj/*
/CameraApp.Test/bin/*
/CameraApp.Test/obj/*
CameraApp.Test/bin/Debug/net9.0/*/	
CameraApp.Test/bin/Debug/net9.0/CameraApp.dll
CameraApp.Test/bin/Debug/net9.0/CameraApp.dll
CameraApp.Test/bin/Debug/net9.0/CameraApp.dll
CameraApp.Test/bin/Debug/net9.0/CameraApp.pdb
CameraApp.Test/bin/Debug/net9.0/CameraApp.Test.deps.json
CameraApp.Test/bin/Debug/net9.0/CameraApp.Test.dll
CameraApp.Test/bin/Debug/net9.0/CameraApp.Test.exe
CameraApp.Test/bin/Debug/net9.0/CameraApp.Test.pdb
CameraApp.Test/bin/Debug/net9.0/CameraApp.dll
CameraApp.Test/bin/Debug/net9.0/CameraApp.pdb
CameraApp.Test/bin/Debug/net9.0/CameraApp.Test.deps.json
CameraApp.Test/bin/Debug/net9.0/CameraApp.Test.dll
CameraApp.Test/bin/Debug/net9.0/CameraApp.Test.exe
CameraApp.Test/bin/Debug/net9.0/CameraApp.Test.pdb
CameraApp.Test/bin/Debug/net9.0/CameraApp.dll
CameraApp.Test/bin/Debug/net9.0/CameraApp.pdb
CameraApp.Test/bin/Debug/net9.0/CameraApp.Test.deps.json
CameraApp.Test/bin/Debug/net9.0/CameraApp.Test.dll
CameraApp.Test/bin/Debug/net9.0/CameraApp.Test.exe
CameraApp.Test/bin/Debug/net9.0/CameraApp.Test.pdb
CameraApp.Test/bin/Debug/net9.0/CameraApp.dll
CameraApp.Test/bin/Debug/net9.0/CameraApp.pdb
CameraApp.Test/bin/Debug/net9.0/CameraApp.Test.deps.json
CameraApp.Test/bin/Debug/net9.0/CameraApp.Test.dll
CameraApp.Test/bin/Debug/net9.0/CameraApp.Test.exe
CameraApp.Test/bin/Debug/net9.0/CameraApp.Test.pdb
CameraApp.Test/obj/Debug/net9.0/apphost.exe
CameraApp.Test/obj/Debug/net9.0/CameraApp.Test.AssemblyInfo.cs
CameraApp.Test/obj/Debug/net9.0/CameraApp.Test.AssemblyInfoInputs.cache
CameraApp.Test/obj/Debug/net9.0/CameraApp.Test.assets.cache
CameraApp.Test/obj/Debug/net9.0/CameraApp.Test.csproj.AssemblyReference.cache
CameraApp.Test/obj/Debug/net9.0/CameraApp.Test.csproj.CoreCompileInputs.cache
CameraApp.Test/obj/Debug/net9.0/CameraApp.Test.csproj.FileListAbsolute.txt
CameraApp.Test/obj/Debug/net9.0/CameraApp.Test.dll
CameraApp.Test/obj/Debug/net9.0/CameraApp.Test.pdb
CameraApp.Test/obj/Debug/net9.0/CameraApp.Test.sourcelink.json
CameraApp.Test/obj/Debug/net9.0/ref/CameraApp.Test.dll
CameraApp.Test/obj/Debug/net9.0/refint/CameraApp.Test.dll
