################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MAUI
/CameraApp/bin/**
/CameraApp/obj/**
/.vs
/CameraApp.Test/bin/**
/CameraApp.Test/obj/**

